/node_modules
/public/hot
/vendor
/final.zip
/storage.zip
/Markt2.zip
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/Markt.zip
/Markt1.zip
/check.zip
/storage

